.ex-1-square {
    transition: all 2s;

}
.ex-1-square:hover {
    background-color: red;
}

/* ex2 */
.ex-2-square {
    transition: all 2s;
}
.ex-2-square:active {
    width: 100%;
}

/* ex3 */
.ex-3-square {
    transition: all 0.5s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

/* ex4 */
.ex-4-square {
    transition: all 1s;
}
.ex-4-square:hover {
    background-color:transparent;
}

/* ex5 */
.ex-5-square {
    transition: all 1s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.3);
}

/* ex6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* ex7 */
.ex-7-img {
    transition: all 2s;
}
.ex-7-img:hover {
    filter: sepia(0.8) saturate(0.6);  
}

/* ex8 */
.ex-8-img {
    transition: all 2s;
}
.ex-8-img:hover {
    border-radius: 20px;
    filter: grayscale(0.7) sepia(0.7);
}

/* ex9 */
.ex-9-img {
    transition: all 2s;
}
.ex-9-img:hover {
    border-radius: 20px;
    filter: grayscale(0.7) sepia(0.7);
    transform: scale(1.5);
}

/* ex10 */
.well .ex-10-icon {
    animation: 1s infinite linear;
    animation-name: spin;
}
@keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

/* ex11 */
.well .ex-11-icon:hover {
    animation: 1s linear;
    animation-name: spin2;
}
@keyframes spin2 {
    0% {
      transform: rotate(0deg) ;
    }
    50% {
      transform: rotate(300deg) ;
    }
    100% {
        transform: rotate(0deg) ;
    }
}

/* ex12 */
.well:hover .ex-12-top-white {
    animation:2s linear;
    animation-name: l-r;
}
@keyframes l-r {
    0% { left: 10%; top: -10px}
    50% { left: 70%; top: -10px;}
    100% { left: 10%; top: -10px }
}

.well:hover .ex-12-bottom-white {
    animation:2s linear;
    animation-name: r-l;
}
@keyframes r-l {
    0% { left: 70%; bottom: -10px}
    50% { left: 10%; bottom: -10px}
    100% { left: 70%; bottom: -10px }
}

/* ex13 */
.well:hover .ex-13-top-white {
    animation:2s linear;
    animation-name: l-r2;
}
@keyframes l-r2{
    0% { left: 10%; top: -10px;}
    20% { left: 70%; top: -10px;}
    40% { left: 70%; top: 60px;}
    60% { left: -10%; top: 60px;}
    80% { left: -10%; top: -10px}
    100% { left: 10%; top: -10px;}
}

.well:hover .ex-13-bottom-white {
    animation:2s linear;
    animation-name: r-l2;
}
@keyframes r-l2 {
    0% { right: 10%; bottom: -10px;}
    20% { right: 72%; bottom: -10px;}
    40% { right: 72%; bottom: 60px;}
    60% { right: -10%; bottom: 60px;}
    80% { right: -10%; bottom: -10px}
    100% { right: 10%; bottom: -10px;}
}